<div class="body_">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>

    <form [formGroup]="form">
      <mat-card-content>
        <app-input-field
          label="Username"
          placeholder="Enter Username"
          [required]="true"
          errorMessage="Username is Required"
          [control]="usernameControl"
        ></app-input-field>

        <app-input-field
          label="Password"
          placeholder="Enter Password"
          [required]="true"
          type="password"
          errorMessage="Password is Required"
          [control]="passwordControl"
        ></app-input-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button>Login</button>
        <button class="btn_register" mat-flat-button>Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
