<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button routerLink="home" mat-button>HOME</button>
    <button routerLink="customer" mat-button>CUSTOMER</button>
    <button routerLink="login" mat-button>LOGIN</button>
    <button routerLink="register" mat-button aria-label="Example icon button with a delete icon">
      <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  

<router-outlet />

  